.card-container{
    height:100px;
    width: 100px;
    margin:20px;
    padding: 20px;
}

img{
    height:50px;
    width: 50px;
}

button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
}

h4{
    font-size: 13px;
}